<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mahmoud.salahny">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"></activity>
        <activity
            android:name=".SignedActivity"
            android:label="SignedActivity" />
        <activity
            android:name=".SignedUPActivity"
            android:label="SignedUPActivity" />
        <activity
            android:name=".TimeLine_Page"
            android:label="TimeLine_Page" />
        <activity
            android:name=".PostSharedDetails"
            android:label="PostSharedDetails" />
        <activity
            android:name=".RootActivity"
            android:label="RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyProfileActivity"></activity>
    </application>

</manifest>